.add-playlist-modal .modal-content {
    background-color: #2a2b38;
}

.add-playlist-modal-header {
    border-bottom: 0 none;
    border-top: 0 none ;
}
.dashboard-container{
    margin-top: 60px;
    margin-left: 16px;
    margin-right: 16px;
    padding-right: 32px;
    margin-bottom: 60px;
    padding-left: 32px;
}

.playlist-item-column{
    border-width: 12px;
    border-color: #ffeba7;
}

.playlist-add-button{
    margin-top: 32px;
}